<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.milanix.shutter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.LandingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login">

        </activity>

        <activity
            android:name=".auth.login.LoginActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".auth.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".auth.LandingActivity" />
        </activity>

        <activity
            android:name=".auth.resetpassword.RequestPasswordActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".auth.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".auth.login.LoginActivity" />
        </activity>

        <activity
            android:name=".auth.signup.SignUpActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".auth.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".auth.LandingActivity" />
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home" />

        <activity
            android:name=".post.NewPostActivity"
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.HomeActivity" />
        </activity>

        <activity
            android:name=".user.profile.ProfileActivity"
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.HomeActivity" />
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".user.profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.profile.ProfileActivity" />
        </activity>

        <activity
            android:name=".feed.detail.PostDetailActivity"
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.HomeActivity" />
        </activity>

        <activity
            android:name=".feed.comment.CommentListActivity"
            android:parentActivityName=".feed.detail.PostDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Comment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feed.detail.PostDetailActivity" />
        </activity>

        <!-- Web page activity -->
        <activity
            android:name=".web.WebPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home" />


        <!-- Facebook activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- Muzei services -->
        <service
            android:name=".muzei.ShutterArtSource"
            android:description="@string/shutter_source_description"
            android:icon="@drawable/ic_shutter_source"
            android:label="@string/shutter_source_name">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>
            <meta-data
                android:name="color"
                android:value="@color/colorPrimary" />
        </service>

        <!-- Boot completed Receiver -->
        <receiver android:name=".core.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Sync services -->
        <service android:name=".core.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".notification.NotificationService" />

        <service
            android:name=".notification.NotificationJobService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
    </application>
</manifest>